{% extends 'base.html' %}
{% block content %}
<div class="my-10 flex flex-1 justify-center text-zinc-800">
  <div class="flex flex-col text-center bg-image">
    <h1 class="text-4xl mb-10 font-[Cabin]">Seja Bem-Vindo(a)!!</h1>
    <div class="flex w-[640px]">
      <p class="text-3xl font-[Cabin]">
        Compartilhe os albuns e artistas que você tem ouvido para que outras pessoas possam visualizar e compartilhar
        com
        você também!
      </p>
    </div>

    {% if not user.is_authenticated %}
    <a href="#"
      class="transition-colors ease-in-out delay-150 duration-300 bg-violet-600/80 hover:bg-violet-600 rounded px-4 py-2 text-zinc-50 self-center mt-10">Cadastre-se</a>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="{% url 'albuns_list' %}"
      class="transition-colors ease-in-out delay-150 duration-300 bg-violet-600/60 hover:bg-violet-600/80 rounded px-4 py-2 text-zinc-50 self-center mt-10">Encontre
      ou cadastre um album</a>
    {% endif %}
  </div>
</div>
{% endblock %}