{% extends "base.html" %}

{% block content %}
<style>
  div form label {
    font-size: medium;
  }

  div form input {
    background-color: #d4d4d8;
    border-radius: 0.25rem;
    width: 300px;
    padding: 0 5px;
  }

  div form input[type="file"] {
    background-color: transparent;
  }

  textarea:focus,
  input:focus {
    outline-color: #a78bfa;
  }
</style>

<div class="flex flex-col items-center gap-8 mt-8 mb-8">
  <h2>Adicione um novo album abaixo:</h2>

  <form class="flex flex-col" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    <div class="flex flex-col mt-2">
      {{ field.label_tag }} {{ field }}

      {% for error in field.errors %}
      <p class="text-red-400 text-xs">{{ error }}</p>
      {% endfor %}
    </div>
    {% endfor %}

    <button
      class="bg-violet-400 hover:bg-violet-500/80 text-white rounded mt-8 self-center w-[200px] p-2 cursor-pointer transition-colors ease-in-out delay-150 duration-300"
      type="submit">Cadastrar</button>
  </form>
</div>
{% endblock %}